body{
    width: 1366px;
    height: 768px;
    background-color: rgb(9, 255, 0);
    text-align: center;

}
div{
    background-color: rgb(3, 248, 15);
    margin: auto;
    border: solid;
    margin-bottom: 50px;
}
#section{
    width: 700px;
    height: 600px
    
}
hr {
    width: 250px;

}    
ol {
    width: 50%;
    margin: auto;
    background-color: rgb(0, 255, 4);
}
a{
    background-color: rgb(255, 3, 3);
    padding: 0px 150px;

}
a:hover {
    background-color: rgb(0, 255, 72);
}